@charset "UTF-8";

body {
    background: #fff url(../gfx/bg.png);
}

.container {
    margin-top: 20px;
    max-width: 970px;
}

#main > section {
    background-color: #fdfdfd;
    border: solid thin #d4d4d4;
    margin-bottom: 20px;
    padding: 10px;
}

#main > .legal {
    font-size: 11px;
    overflow: hidden;
    text-align: right;
}

#main header {
    font-size: 32px;
    margin-bottom: 10px;
}

#main p.lead {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

#logo {
    text-align: center;
}
